body{
	background: white;
}

.login
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	border: 1px solid white;
}
.login p{
	margin: 0;
	padding: 0;
	color: black;
	font-weight: bold;
}

h1+p{
	background: red;
	border-radius: 5px;
}

.login input[type="text"],
.login input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 12px;
	width: 100%;
	margin-bottom: 20px;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	color: lightblue;
	text-align: center;
}
::placeholder
{
	color: black;
}
.login input[type="submit"]
{
	position: absolute;
	left: 18%;
	border-radius: 10px;
	font-size: 25px;
	background: black;
	color: #fff;
	width: 60%;
	margin-bottom: 20px;
}
.login input[type="submit"]:hover
{
	background:darkgrey;
	color:#fff;
}